<tr>
<% product = Product.find(item.product_id) %>
<td><%= product.name %></td>
<td><%= product.description %></td>
<td><%= image_tag product.image.tiny %></td>
<td><%= humanized_money_with_symbol item.item_price_cents/100.00%></td>
<td><%=item.quantity%></td>
<td><%= humanized_money_with_symbol item.total_price_cents/100.00%></td>
</tr>